body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(45deg, #4298ee, #000000);
    color: #eee;
    font-size: 18px;
    line-height: 1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: transparent;
    color: white;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    font-size: 3em;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

header h2 {
    margin-top: 10px;
    font-weight: 300;
}

section {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: 30px auto;
    max-width: 800px;
    padding: 30px;
    color: #000;
}

/* Headers inside sections */
section h2, section h3, section h4 {
    color: #000; 
}

/* Links inside sections */
section a {
    color: #4298ee; 
    text-decoration: underline;
}

section a:hover {
    color: #3277ce; 
    text-decoration: none;
}

#contact {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin: 30px auto;
    width: 10%; 
    height: 10%;
    max-width: 1000px; 
    padding: 30px;
    color: #000; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #4298ee;
    padding-bottom: 10px;
    width: 100%;
    text-align: center; 
}

#contact .contact-item {
    margin-bottom: 20px;
    width: 100%;
    text-align: center; 
}

#contact a {
    color: #4298ee;  
    text-decoration: none;
    font-weight: bold;
    display: block;
}

#contact a:hover {
    color: #3277ce;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

#skills i {
    margin-right: 10px;
    font-size: 1.5em;
}